*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
.container{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    max-width: 320px;
    text-align: center;
}
h1{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin-top: 15px;
    font-size: 1.1em;
    color: #34495e;
}
input{
    padding: 12px 15px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    width: 80%;
    transition: 0.3s;
}
input:focus{
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 0 5px rgba(76,175,80,0.5);
}
button{
    margin-top: 20px;
    padding: 12px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.3s;
}
button:hover{
    background: #45a049;
}
button:active{
    background: #388e3c;
}
#result{
    margin-top: 20px;
    text-align: center;
    color: #2c3e50;
}
#bmi-value{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #4caf50;
}
#interpretation{
    font-size: 1.1em;
    color: #34495e;
    margin-top: 10px;
}
#text{
    font-size: 1em;
    color: #ff0000;
    margin-top: 10px;
}
@media(max-width:480px){
    h1{
        font-size: 1.2em;
    }
    input,button{
        font-size: 0.9em;
        padding: 8px;
    }
    label{
        font-size: 0.9em;
    }
}